<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Atragantamiento</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="/static/imagenes/traumatismos/Slide1.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide2.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide3.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide4.PNG"> <!-- random image -->
      </li>
       <li>
        <img src="/static/imagenes/traumatismos/Slide5.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide6.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide7.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide8.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide9.PNG"> <!-- random image -->
      </li>
       <li>
        <img src="/static/imagenes/traumatismos/Slide10.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide11.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide12.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide13.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide14.PNG"> <!-- random image -->
      </li>
       <li>
        <img src="/static/imagenes/traumatismos/Slide15.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide16.PNG"> <!-- random image -->
      </li>
       <li>
        <img src="/static/imagenes/traumatismos/Slide17.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide18.PNG"> <!-- random image -->
      </li>
       <li>
        <img src="/static/imagenes/traumatismos/Slide19.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide20.PNG"> <!-- random image -->
      </li>
       <li>
        <img src="/static/imagenes/traumatismos/Slide21.PNG"> <!-- random image -->
      </li>
      <li>
        <img src="/static/imagenes/traumatismos/Slide22.PNG"> <!-- random image -->
      </li>
    </ul>
  </div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ url_for('static', filename='js/init.js') }}"></script>
<script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script>

    $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });


</script>
</body>
</html>