<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description"
          content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords"
          content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>EMERGENCIAS|</title>
    <!-- CORE CSS-->

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/app.css') }}">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/prism.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='js/plugins/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='js/plugins/chartist-js/chartist.min.css') }}">
</head>

<body>
<!-- Start Page Loading -->
<div class="row">
    <nav class="deep-orange lighten-2" role="navigation">
        <div class="nav-wrapper container">
            <ul class="brand-logo"><a class="brand-logo"> </a>
                <a id="logo-container" href="/" class="brand-logo">EMERGENCY
                    PETS</a>
            </ul>
        </div>
        <div class="section">
            <div class="container">
                <h3 class="header center orange-text">¿QUE TIPO DE EMERGENCIA
                    TIENES?</h3>
            </div>
        </div>
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 m4 l4 grid">
                    <figure class="effect-lily">
                        <img src="/static/imagenes/emergencia1.jpg" alt=""
                             class="img responsive-img">
                        <figcaption>
                            <div>
                                <h5><span>Atragantamiento</span></h5>
                            </div>
                            <a href="/emergencia/atragantamiento">Ver mas</a>
                        </figcaption>
                    </figure>
                </div>
                    <div class="col s12 m4 l4 grid">
                    <figure class="effect-lily">
                        <img src="/static/imagenes/emergencia2.jpg" alt=""
                             class="img responsive-img">
                        <figcaption>
                            <div>
                                <h5><span>Traumatismo</span></h5>
                            </div>
                            <a href="/emergencia/traumatismo"></a>
                        </figcaption>
                    </figure>
                </div>
                    <div class="col s12 m4 l4 grid">
                    <figure class="effect-lily">
                        <img src="/static/imagenes/emergencia3.jpg" alt=""
                             class="img responsive-img">
                        <figcaption>
                            <div>
                                <h4><span>PARVOVIROSIS</span></h4>
                            </div>
                            <a href="emergencia/atragantamiento">Ver mas</a>
                        </figcaption>
                    </figure>
                </div>
                </div>
                <div class="row">
                    <div class="col s12 m4 l4 grid">
                    <figure class="effect-lily">
                        <img src="/static/imagenes/emergencia4.jpg" alt=""
                             class="img responsive-img">
                        <figcaption>
                            <div>
                                <h5><span>Intoxicacion</span></h5>
                            </div>
                            <a href="emergencia/atragantamiento">Ver mas</a>
                        </figcaption>
                    </figure>
                </div>
                    <div class="col s12 m4 l4 grid">
                    <figure class="effect-lily">
                        <img src="/static/imagenes/emergencia5.jpg" alt=""
                             class="img responsive-img">
                        <figcaption>
                            <div>
                                <h5><span>Traumatismo</span></h5>
                            </div>
                            <a href="emergencia/atragantamiento"></a>
                        </figcaption>
                    </figure>
                </div>
                    <div class="col s12 m4 l4 grid">
                    <figure class="effect-lily">
                        <img src="/static/imagenes/parvo.jpg" alt=""
                             class="img responsive-img">
                        <figcaption>
                            <div>
                                <h3><span>OTRO</span></h3>
                            </div>
                            <a href="/emergencia/mensaje">Ver mas</a>
                        </figcaption>
                    </figure>
                </div>
                </div>
            </div>
        </div>
        <!-- START FOOTER -->

  <footer class="page-footer deep-orange lighten-2">

    <div class="footer-copyright">
      <div class="container">
      Hecho por <a class="orange-text text-lighten-3" href="http://ingsistemas.ufps.edu.co/">Universidad Francisco de Paula Santander</a>
      </div>
    </div>
  </footer>
  </div>
        <!-- END FOOTER -->


        <!-- ================================================
        Scripts
        ================================================ -->

        <!-- jQuery Library -->

        <script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
        <!--materialize js-->
        <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
        <!--prism-->
        <script src="{{ url_for('static', filename='js/prism.js') }}"></script>
        <!--scrollbar-->
        <script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
        <!-- chartist -->
        <script src="{{ url_for('static', filename='js/plugins/chartist-js/chartist.min.js') }}"></script>
        <!--plugins.js - Some Specific JS codes for Plugin Settings-->
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>

</body>

</html>