<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <title>Emergency Pets</title>


    <!-- CORE CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/materialize.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <!-- CORE CSS-->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/prism.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='js/plugins/perfect-scrollbar/perfect-scrollbar.css') }}"
          media="screen,projection">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='js/plugins/chartist-js/chartist.min.css') }}"
          media="screen,projection">
</head>

<body>
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->

<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="deep-orange lighten-3">
            <div class="nav-wrapper">
                <h1 class="logo-wrapper">
                    <a href="/" class="brand-logo darken-1">
                        Emergency Pets
                    </a>
                </h1>
                <ul class="right hide-on-med-and-down">
                    <li class="search-out">
                        <input type="text" class="search-out-text">
                    </li>
                    <li>
                        <a href="javascript:void(0);"
                           class="waves-effect waves-block waves-light show-search"><i
                                class="mdi-action-search"></i></a>
                    </li>
                    <li><a href="javascript:void(0);"
                           class="waves-effect waves-block waves-light toggle-fullscreen"><i
                            class="mdi-action-settings-overscan"></i></a>
                    </li>
                    <li><a href="javascript:void(0);"
                           class="waves-effect waves-block waves-light"><i
                            class="mdi-social-notifications"></i></a>
                    </li>
                    <!-- Dropdown Trigger -->
                    <li><a href="#" data-activates="chat-out"
                           class="waves-effect waves-block waves-light chat-collapse"><i
                            class="mdi-communication-chat"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">

        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
            <ul id="slide-out" class="side-nav fixed leftside-navigation">
                <li class="user-details  deep-orange lighten-3">
                    <div class="row">
                        <div class="col col s4 m4 l4">
                            <i class="mdi-action-account-circle medium"></i>
                        </div>
                        <div class="col col s8 m8 l8">
                            <ul id="profile-dropdown" class="dropdown-content">
                                <li><a href="/usuarios/perfil"><i
                                        class="mdi-action-face-unlock"></i>
                                    Perfil</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/logout"><i
                                        class="mdi-hardware-keyboard-tab"></i>
                                    Salir</a>
                                </li>
                            </ul>
                            <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn"
                               href="#" data-activates="profile-dropdown">
                                {% block name %}{{nombre}} {% endblock %}
                                <i class="mdi-navigation-arrow-drop-down right"></i>
                            </a>
                            <p class="user-roal">Online</p>
                        </div>
                    </div>
                </li>
                <li class="bold"><a href="/"
                                    class="waves-effect waves-cyan"><i
                        class="mdi-action-dashboard"></i> Inicio</a>
                </li>
                <li class="bold"><a href="/mascotas/listar"
                                    class="waves-effect waves-cyan"><i
                        class="mdi-action-dashboard"></i> Mis mascotas</a>
                </li>
                <li class="bold"><a href="/emergencia"
                                    class="waves-effect waves-cyan"><i
                        class="mdi-communication-email"></i> Emergencias </a>
                </li>
                <li class="bold"><a href="/"
                                    class="waves-effect waves-cyan"><i
                        class="mdi-editor-insert-invitation"></i> Adoptame</a>
                </li>
            </ul>
            <a href="#" data-activates="slide-out"
               class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i
                    class="mdi-navigation-menu"></i></a>
        </aside>
        <section id="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="notificacion">
            {% for category, message in messages %}
            <div class="alert alert-{{category}}">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{message}}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith
        %}
            {% block contenido %} {% endblock %}
        </section>
    <!-- END WRAPPER -->

</div>
<footer class="page-footer deep-orange lighten-2">
    <div class="footer-copyright">
        <div class="container">
            <span>Copyright © 2016 <a class="grey-text text-lighten-4"
                                      href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs"
                                      target="_blank">Universidad Francisco de Paula Santander</a> Todos los derechos reservados.</span>
            <span class="right"> Desarrollado por <a
                    class="grey-text text-lighten-4"
                    href="http://geekslabs.com/">Mayerly Garcia</a></span>
        </div>
    </div>
</footer>
<!-- END FOOTER -->


<!-- ================================================
Scripts
================================================ -->

<!-- jQuery Library -->
<script src="{{ url_for('static', filename='js/jquery-1.11.2.min.js') }}"></script>
<!--materialize js-->
<script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<!--prism-->
<script src="{{ url_for('static', filename='js/prism.js') }}"></script>
<!--scrollbar-->
<script src="{{ url_for('static', filename='js/plugins/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
<!-- chartist -->
<script src="{{ url_for('static', filename='js/plugins/chartist-js/chartist.min.js') }}"></script>
<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
{% block scripts %} {% endblock %}
</div>
</body>

</html>