{% extends "plantillas/perfil.html" %}
{% block header%}
{% block name %}{{user.getNombre()}}{% endblock %}
{% endblock %}
{% block menu %}
{% endblock %}

{% block contenido %}

<div id="breadcrumbs-wrapper" class=" grey lighten-3">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <br/>
                <h5 class="breadcrumbs-title">Registrar Mascota</h5>
                <ol class="breadcrumb">
                    <li><a href="index.html">Mis Mascotas</a></li>
                    <li><a href="#">Registrar Mascota</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <form class="form-horizontal " action="/mascotas/registro"
              method="POST" enctype="multipart/form-data">
            <div class="row margin">
                <div class="input-field col s6">
                    <i class="mdi-social-mood prefix"></i>
                    <input id="nombre" type="text" name="nombre">
                    <label for="nombre" >Nombre</label>
                </div>

                <div class="input-field col s6">
                    <div class="file-field input-field">
                        <div class="btn grey-tex deep-orange lighten-2">
                            <span>Foto</span>
                            <input type="file" name="" for="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate"
                                   type="text" name="" >
                        </div>
                    </div>
                </div>
            <div class="row margin">
                <div class="input-field col s6 l6 m6">
                    <i class="mdi-editor-insert-invitation prefix"></i>
                    <input class="datepicker" id="fecha_nacimiento"
                           type="date"
                           name="fecha_nacimiento">
                    <label for="fecha_nacimiento">Fecha de nacimiento</label>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s6">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input id="raza" type="text" name="raza">
                    <label for="raza" class="center-align">Raza</label>
                </div>
                <div class="input-field col s6 ">
                    <select name="genero" id="genero"
                            class="col s6 l6 m6">
                        <option value="" disabled selected>Genero
                        </option>
                        <option value="M">M</option>
                        <option value="H">H</option>
                    </select>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i class="mdi-social-person-outline prefix"></i>
                    <textarea id="textarea" class="materialize-textarea"
                              name="vacunas">
                        </textarea>
                    <label for="textarea"
                           class="center-align">Vacunas</label>
                </div>
            </div>
            <div class="row margin">

            </div>
            <div class="row margin col s12">
                <div class="input-field col s6">
                    <select
                        name="especie" id="especie"
                        class="col s6 l6 m6">
                    <option value="" disabled selected>Especie</option>
                    <option value="gato">Gato</option>
                    <option value="perro">Perro</option>
                </select>
                </div>
                <div class="input-field col s6">
                    <i class="mdi-social-person-outline prefix"></i>
                    <input id="peso_aprox" type="text"
                           name="peso_aprox">
                    <label for="peso_aprox">Peso aproximado(Kg)</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 center">
                    <button class="btn waves-effect waves-light deep-orange lighten-2 " type="submit" >Registrar mascota
                        <i class="mdi-content-send right"></i>
                    </button>
                </div>
                </div>
                </div>
        </form>
    </div>
</div>
{% endblock %}
<!-- ================================================
  Scripts
  ================================================ -->
{% block scripts %}
<script>
      $('.datepicker').pickadate({
      selectMonths: true,
      selectYears: 50,
      format: 'yyyy-mm-dd',
      });

       $(document).ready(function() {
    $('select').material_select();
  });

  $('#textarea1').val('New Text');
  $('#textarea1').trigger('autoresize');

</script>
<script src="{{ url_for('static', filename='js/proyecto/registro.js') }}"></script>
{% endblock %}