{% extends "plantillas/perfil.html" %}
{% block name %}{{usuario.getNombre()}}{% endblock %}
{% block contenido %}
<div id="profile-card" class="card">

    <div class="card-content">
        <img class="activator" src="{{ url_for('static', filename='uploads/{{mascota.getFoto()}}') }}"
                 alt="user background">
        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">

        </a>
        <span class="card-title activator grey-text text-darken-4">
            {{mascota.getNombre()}}</span>
        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>
            {{mascota.getNombre()}}</p>
        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>
            {{mascota.getDueno().getNombre()}}</p>
        <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i>
            {{mascota.getFecha_nacimiento()}}</p>
        <p><i class="mdi-communication-email cyan-text text-darken-2"></i>
            {{mascota.getRaza()}}</p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{mascota.getNombre()}}<i
                class="mdi-navigation-close right"></i></span>
        <p>Aqui encontrara mas informacion.</p>
        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>
            {{mascota.getEspecie()}}</p>
        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>
            {{mascota.getGenero()}}</p>
        <p><i class="mdi-action-assignment-ind cyan-text text-darken-2"></i>
            {{mascota.getVacunas()}}</p>

    </div>
</div>
{% endblock %}
{% block scripts %} {% endblock %}