{% extends "plantillas/perfil.html" %}
{% block name %}{{usuario.getNombre()}}{% endblock %}
{% block contenido %}
<div id="profile-card" class="card">

    <div class="card-content">
        <i class="mdi-action-account-circle large"></i>
        <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right">
            <i class="mdi-editor-mode-edit"></i>
        </a>
        <span class="card-title activator grey-text text-darken-4">
            {{usuario.getNombre()}}</span>
        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>
            {{usuario.getNombre()}}</p>
        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>
            {{usuario.getApellido()}}</p>
        <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i>
            {{usuario.getTelefono()}}</p>
        <p><i class="mdi-communication-email cyan-text text-darken-2"></i>
            {{usuario.getEmail()}}</p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{usuario.getNombre()}}<i
                class="mdi-navigation-close right"></i></span>
        <p>Aqui encontrara mas informacion.</p>
        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>
            {{usuario.getNombre()}}</p>
        <p><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>
            {{usuario.getApellido()}}</p>
        <p><i class="mdi-action-assignment-ind cyan-text text-darken-2"></i>
            {{usuario.getCedula()}}</p>
        <p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i>
            {{usuario.getTelefono()}}</p>
        <p><i class="mdi-communication-email cyan-text text-darken-2"></i>
            {{usuario.getEmail()}}</p>
        <p><i class="mdi-social-cake cyan-text text-darken-2"></i>
            {{usuario.getFecha_nacimiento()}}</p>
        <p><i class="mdi-action-room cyan-text text-darken-2"></i>
            {{usuario.getDireccion()}}</p>


    </div>
</div>
{% endblock %}
{% block scripts %} {% endblock %}